<div>

    
    <div class="field">
        <label>{{localizeSystem "sheet.actor.soin"}}</label>
        <div>{{ fieldOrInput "system.soin" class="pj-sheet-input" }}</div>
    </div>

    


    </hr>

    <h3>{{localizeSystem "sheet.actor.traumas.titre"}}</h3>

    {{#times system.traumas.nbNiveaux}}
        <div class="listeElement">
            <h4>{{localizeSystem "sheet.actor.traumas.titreNiveau" key=index1}}</h4>
            <div>
                {{#with (lookup system.traumas.niveaux index) as |niveau|}}
                    {{#times niveau.nbTraumas}}
                        <div>
                            <div class="field">
                                <label>{{localizeSystem "sheet.actor.traumas.titreTraumas" key=index1}}</label>
                                <div>{{ fieldOrInput (concat "system.traumas.niveaux." ../../index ".traumas." index) class="pj-sheet-input" }}</div>
                            </div>
                        </div>
                    {{/times}}
                {{/with}}
            </div>
        </div>
    {{/times}}



    
</div>