<div class="image">
    <img data-action="editImage" data-edit="img" src="{{document.img}}" alt="Photo de {{document.name}}" />
</div>

<div>
    <div class="button" data-action="globalRoll">Lancer les dés</div>
</div>
<div class="field">
    <label>{{localizeSystem "sheet.actor.niveau"}}</label>
    <div>{{ fieldOrInput "system.niveau" class="pj-sheet-input" }}</div>
</div>

<div class="flexcols">
    <div class="field">
        <label>{{localizeSystem "sheet.actor.degats"}}</label>
        <div>{{ fieldOrInput "system.degat" class="pj-sheet-input" }}</div>
    </div>

    <div class="field">
        <label>{{localizeSystem "sheet.actor.armure"}}</label>
        <div>{{ fieldOrInput "system.armure" class="pj-sheet-input" }}</div>
    </div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.seuilCritique.titre"}}</label>
    <div>
        <div>{{ fieldOrInput "system.seuilCritique.val" class="pj-sheet-input" }}</div>
        <div>(+ {{system.seuilCritique.temp}})</div>
        <div> => {{system.seuilCritique.total}}</div>
    </div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.pv"}}</label>
    <div>{{ fieldOrInput "system.values.pv.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.pv.max" class="pj-sheet-input" }}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.pe"}}</label>
    <div>{{ fieldOrInput "system.values.pe.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.pe.max" class="pj-sheet-input" }}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.pm"}}</label>
    <div>{{ fieldOrInput "system.values.pm.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.pm.max" class="pj-sheet-input" }}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.sm"}}</label>
    <div>{{ fieldOrInput "system.values.sm.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.sm.max" class="pj-sheet-input" }}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.volonte"}}</label>
    <div>{{ fieldOrInput "system.values.volonte.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.volonte.max" class="pj-sheet-input" }}</div>
</div>


