<div class="image">
    <img data-action="editImage" data-edit="img" src="{{document.img}}" alt="Photo de {{document.name}}" />
</div>

<div>
    <div class="button" data-action="globalRoll">Lancer les dés</div>
</div>


<div class="flexcols">
    <div class="field">
        <label>{{localizeSystem "sheet.actor.seuilDefense"}}</label>
        <div>{{ fieldOrInput "system.seuilDefense" class="pj-sheet-input" }}</div>
    </div>
</div>

<div class="flexcols">
    <div class="field">
        <label>{{localizeSystem "sheet.actor.seuilCritique.titre"}}</label>
        <div>{{ fieldOrInput "system.seuilCritique.val" class="pj-sheet-input" }}</div>
    </div>
    <div>(+ {{system.seuilCritique.temp}}) => {{system.seuilCritique.total}}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.pv"}}</label>
    <div>{{ fieldOrInput "system.values.pv.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.pv.max" class="pj-sheet-input" }}</div>
</div>

<div class="flexcols">
    <div class="field">
        <label>{{localizeSystem "sheet.actor.coutDeplacement"}} (PE/m)</label>
        <div>{{ fieldOrInput "system.coutDeplacement.val" class="pj-sheet-input" }}</div>
    </div>
    <div> / {{system.coutDeplacement.temp}} / {{system.coutDeplacement.bonus}} / {{system.coutDeplacement.total}}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.pe"}}</label>
    <div>{{ fieldOrInput "system.values.pe.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.pe.max" class="pj-sheet-input" }}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.pm"}}</label>
    <div>{{ fieldOrInput "system.values.pm.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.pm.max" class="pj-sheet-input" }}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.sm"}}</label>
    <div>{{ fieldOrInput "system.values.sm.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.sm.max" class="pj-sheet-input" }}</div>
</div>

<div class="field">
    <label>{{localizeSystem "sheet.actor.carac.volonte"}}</label>
    <div>{{ fieldOrInput "system.values.volonte.val" class="pj-sheet-input" }} / {{ fieldOrInput "system.values.volonte.max" class="pj-sheet-input" }}</div>
</div>


