<div class="dice-roll" data-action="expandRoll">
    <div class="dice-result">
        {{#if critique}}<div class="dice-formula">Coup Critique</div>{{/if}}
        <div class="dice-formula">Degats physiques : {{item.system.degats.physique}}</div>
        <div class="dice-formula">Degats magiques : {{item.system.degats.magique}}</div>
        {{{tooltip}}}
        <div class="dice-formula">{{localize (concat (SYSTEMID) ".roll.common.total")}} : {{total}}</div>

        
        {{#each cibles as |cible|}}
            <h4 class="dice-total">{{cible.name}}</h4>

            <p>seuil Défense : {{cible.seuil}}</p>
            <p>armure physique : {{cible.armure.physique}}</p>
            <p>armure magique : {{cible.armure.magique}}</p>
            <p>armure mixte : {{cible.armure.mixte}}</p>
    
            <p>total PV : {{cible.degats}}</p>
            <div class="dice-formula" data-action="enleverPV" data-token="{{cible.uuid}}" data-nbPv="{{cible.degats}}">{{localize (concat (SYSTEMID) ".combat.attaque.supprPV")}}</div>
        {{/each}}
        
    </div>
</div>
