<section>


    <div class="field">
        <label>{{localizeSystem "sheet.items.arme.degats.physique"}}</label>
        <div>{{ fieldOrInput "system.degats.physique" class="pj-sheet-input" }}</div>
    </div>
    
    <div class="field">
        <label>{{localizeSystem "sheet.items.arme.degats.magique"}}</label>
        <div>{{ fieldOrInput "system.degats.magique" class="pj-sheet-input" }}</div>
    </div>
    
    <div class="field">
        <label>{{localizeSystem "sheet.items.arme.coutUtilisation"}}</label>
        <div>{{ fieldOrInput "system.coutUtilisation" class="pj-sheet-input" }}</div>
    </div>
    
</section>a