<div class="sheet {{ SYSTEMID }} pj-sheet">
    <div class="sidebar">
        
    </div>
    <div class="content">
        <div class="top">
            {{> "topbar" }}
        </div>
        <div class="main">
            {{{tabs.sheet.html}}}
            <div class="pages tabscontainer">
                {{ SYSTEMID }}
                {{ SYSTEMTEMPLATE }}
                {{ concat (SYSTEMID)  ".toto" }}
                

                {{localize (concat (SYSTEMID)  ".toto")}}

            </div>
        </div>
    </div>
</div>